* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}

body {
  background-color: #f7f9fe;
  background-image: linear-gradient(135deg, #e8ddff 0%, #f7f9fe00 527px),
    linear-gradient(45deg, #e8ddff 10%, #f7f9fe00 27%),
    linear-gradient(215deg, #fffbeb 0%, #f7f9fe00 40%);
  display: flex;
  flex-direction: column;
}
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}
